<div *ngIf="this.isLoading"
 class="relative w-6 h-6 flex justify-center items-center animate-spin">
  <div class="rounded-full w-1 h-1 bg-slate-900 absolute" style="transform: rotate(0deg) translateX(8px);"></div>
  <div class="rounded-full w-1 h-1 bg-slate-800 absolute" style="transform: rotate(72deg) translateX(8px);" ></div>
  <div class="rounded-full w-1 h-1 bg-slate-700 absolute" style="transform: rotate(144deg) translateX(8px);" ></div>
  <div class="rounded-full w-1 h-1 bg-slate-600 absolute" style="transform: rotate(216deg) translateX(8px);" ></div>
  <div class="rounded-full w-1 h-1 bg-slate-500 absolute" style="transform: rotate(288deg) translateX(8px);" ></div>

</div>
