* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  color: white;
}

.container {
  background-color: #535353;
  align-items: center;
  text-align: center;
  padding: 15px 15px 15px 15px;
}

.container2 {
  background-color: #1db954;
  align-items: center;
  text-align: center;
  padding: 15px 15px 15px 15px;
}

.btn {
  color: black;
  background: #b3b3b3;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}

.moneda {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moneda select {
  padding: 10px 20px 10px 10px;
  border: 1px solid #dedede;
  font-size: 16px;
  appearance: none;
}

.moneda input {
  border: 0;
  font-size: 30px;
  text-align: right;
}

.taza-cambio-container {
  justify-content: space-between;
}

.cambio {
  color: #b3b3b3;
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

.result{
  background-color: white;
  color: black;
}
