<div class="container mx-auto">
  <div class="bg-white rounded p-4 my-5">
    <div>
      <h2 class="text-2x1 font-bold text-slate-950">Crea tu receta con IA</h2>
      <app-loader class="ml-3"></app-loader>
    </div>

    <div [formGroup]="this.form"
    class="flex mt-4 items-center">
      <input class="
      border-2
      outline-none
      w-full
      rounded-md
      px-4
      py-2
      transition-all
      ease-linear
      duration-200
      hover:border-slate-600
      focus:border-slate-600
      disabled:bg-gray-200
      disabled:Border-slate-200
      disabled:text-gray-500
      disabled:cursor-not-allowed
      " type="text">
      <app-button
      [disabled]="this.isLoading"
      (click)="this.validar"
      [isLoading]="this.isLoading"
      text="Generar"></app-button>
    </div>
    <h6
    *ngIf="this.form.controls['ingredientes'].dirty && this.form.controls['ingredients'].getError('required')"
    class="text-sm text-red-600">* Es requerido para generar la receta</h6>
    <h6
    *ngIf="this.form.controls['ingredientes'].dirty && this.form.controls['ingredients'].getError('minLength')"
    class="text-sm text-red-600">* Mínimo 10 caracteres</h6>
  </div>
</div>


<!--
<label for="">Ingresa tu nombre</label>
<input
[(ngModel)]="nombre"
type="text">

{{ nombre }}
<hr>
<h1>Reactive Forms</h1>
<div [formGroup]= "this.form">
  <label for="">Nombre</label>
  <input formControlName="name" type="text">
  <label formControlName="email" for="">Correo electrónico</label>
  <input type="email">
</div>
<div style="color: red;">
  <p>El formulario en inválido</p>
  <p>*Nombre es requerido</p>
  <p>*Todos los campos son requeridos</p>
</div>
<button (click)="this.validar">Validar</button>

{{ this.form.value | json }}
nombre:
{{ this.form.errors | json }}
-->


